<!doctype html>
<html>
<head>
    <title></title>

    <!-- Open links in parent -->
    <base target="_parent">

    <link rel="stylesheet" href="/docs/style.css">
    <style>
        {css}
    </style>
</head>
<body>
{html}
</body>
</html>