<!doctype html>
<html lang="en">
<head>
    <title>Holden.wiki</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.svg">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <script type="application/javascript" src="/javascripts/main.js"></script>
</head>
<body>
<%- include('partials/header') %>
<div id="container">
    <div id="sidebar" class="mobile">
        <%- include('partials/nav') %>
        <footer id="sidebar-footer">
            <div>Made by Mibble &hearts;</div>
        </footer>
    </div>
    <main>
        <a href="/docs" id="enter-docs-btn">Goto Holden Main Menu &rArr;</a>

        <section id="intro">
            <p>
                <b style="font-size: 1.2em; color: #261447;">Welcome to holden.wiki</b> &mdash; a wealth of information originally intended for Holden Dealerships.
            </p>
            <p>
                Be advised all documents are copyright of <em>GM Holden Ltd</em>. Holden.wiki is not affiliated with Holden. For all enquires or submissions, email <a href="mailto:admin@holden.wiki">admin@holden.wiki</a>.
            </p>
        </section>

        <section id="wrapper">
            <section id="car-section">
                <h1>Vehicles</h1>
                <div id="car-grid">
                    <a class="car" href="/docs/gmh_sip1/msi-vz/">
                        <img src="/images/cars/vz.png">
                        <h2>VZ Commodore/Calais</h2>
                        <h3>2005 - 2006</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vz/">
                        <img src="/images/cars/wl.png">
                        <h2>WL Statesman/Caprice</h2>
                        <h3>2005 - 2006</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-wk/">
                        <img src="/images/cars/wk.png">
                        <h2>WK Statesman/Caprice</h2>
                        <h3>2005 - 2006</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vy_AWD_cab/">
                        <img src="/images/cars/vy-awd-cab.png">
                        <h2>VY AWD Crew Cab</h2>
                        <h3>2003 - 2004</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vy_reg_cabII/">
                        <img src="/images/cars/vy-reg-cab-ii.png">
                        <h2>VY Regular/Crew Cab Series II</h2>
                        <h3>2003 - 2004</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vy_reg_cab/">
                        <img src="/images/cars/vy-reg-cab.png">
                        <h2>VY Regular Cab</h2>
                        <h3>2003</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vy_AWD_Wag/">
                        <img src="/images/cars/vy-awd.png">
                        <h2>VY AWD Wagon</h2>
                        <h3>2003 - 2004</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vyII_v2III/">
                        <img src="/images/cars/vy-ii.png">
                        <h2>VY Commodore/Calais/Ute Series II, V2 Series III</h2>
                        <h3>2003 - 2004</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vy_v2II/">
                        <img src="/images/cars/vy.png">
                        <h2>VY Commodore/Calais/Ute, V2 Series II</h2>
                        <h3>2002 - 2003</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-v2/">
                        <img src="/images/cars/v2.png">
                        <h2>V2 Monaro</h2>
                        <h3>2001 - 2003</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vx2_vu2_wh2/">
                        <img src="/images/cars/vx-ii.png">
                        <h2>VX, VU, WH Commodore/Calais/Ute, Statesman, Caprice Series II</h2>
                        <h3>2001 - 2003</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-wh1/">
                        <img src="/images/cars/wh.png">
                        <h2>WH Statesman/Caprice</h2>
                        <h3>1999 - 2001</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vu1/">
                        <img src="/images/cars/vu.png">
                        <h2>VU Commodore Ute</h2>
                        <h3>2000 - 2001</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vx1/">
                        <img src="/images/cars/vx.png">
                        <h2>VX Commodore/Calais</h2>
                        <h3>2000 - 2001</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vt2/">
                        <img src="/images/cars/vt-ii.png">
                        <h2>VT Commodore/Calais Series II</h2>
                        <h3>1999 - 2000</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-vt1/">
                        <img src="/images/cars/vt.png">
                        <h2>VT Commodore/Calais</h2>
                        <h3>1997 - 1999</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-daewoo/">
                        <img src="/images/cars/daewoo.png">
                        <h2>Daewoo</h2>
                        <h3>2004</h3>

                    </a>
                    <a class="car" href="/docs/gmh_sip1/msi-sup2/">
                        <img src="/images/cars/sup.png">
                        <h2>SB/XC Barina, Astra, Vectra, Zafira</h2>
                        <h3>2004</h3>

                    </a>
                </div>
            </section>
            <section id="techlines-section">
                <h1 style="margin-bottom: 0.5rem ">Techlines</h1>
                <!--<div id="techlines">
                    <script>
                        for (let i = 2006; i >= 1989; i--) {
                            let j = i.toString().substring(2);

                            document.write(`<div>
            <h2>${i}</h2>
            <a href="/docs/gmh_sip1/service%20communications/${i}/${j}techlines">Passenger</a> |
            <a href="/docs/gmh_sip1/service%20communications/${i}/${j}teclin">Commercial</a><br>
            <a href="/docs/gmh_sip1/service%20communications/${i}/${j}campbulletins">Campaign Bulletins</a> |
            <a href="/docs/gmh_sip1/service%20communications/${i}/${j}warrbulletins">Warranty Bulletins</a>
        </div>\n`);
                        }
                    </script>

                </div>-->
                <div id="techlines">
                    <div>
                        <h2>2006</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2006/06techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2006/06teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2006/06campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2006/06warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2006/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2006/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2005</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2005/05techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2005/05teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2005/05campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2005/05warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2005/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2005/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2004</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2004/04techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2004/04teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2004/04campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2004/04warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2004/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2004/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2003</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2003/03techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2003/03teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2003/03campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2003/03warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2003/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2003/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2002</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2002/02techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2002/02teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2002/02campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2002/02warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2002/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2002/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2001</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2001/01techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2001/01teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2001/01campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2001/01warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2001/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2001/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>2000</h2>
                        <a href="/docs/gmh_sip1/service%20communications/2000/00techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2000/00teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/2000/00campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2000/00warrbulletins">Warranty Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2000/breakpoint">Breakpoint</a> |
                        <a href="/docs/gmh_sip1/service%20communications/2000/monthlyhintspdf">Monthly Hints</a>
                    </div>
                    <div>
                        <h2>1999</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1999/99techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1999/99teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1999/99campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1999/99warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1998</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1998/98techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1998/98teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1998/98campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1998/98warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1997</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1997/97techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1997/97teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1997/97campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1997/97warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1996</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1996/96techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1996/96teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1996/96campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1996/96warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1995</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1995/95techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1995/95teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1995/95campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1995/95warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1994</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1994/94techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1994/94teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1994/94campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1994/94warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1993</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1993/93techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1993/93teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1993/93campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1993/93warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1992</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1992/92techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1992/92teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1992/92campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1992/92warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1991</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1991/91techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1991/91teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1991/91campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1991/91warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1990</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1990/90techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1990/90teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1990/90campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1990/90warrbulletins">Warranty Bulletins</a>
                    </div>
                    <div>
                        <h2>1989</h2>
                        <a href="/docs/gmh_sip1/service%20communications/1989/89techlines">Passenger</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1989/89teclin">Commercial</a><br>
                        <a href="/docs/gmh_sip1/service%20communications/1989/89campbulletins">Campaign Bulletins</a> |
                        <a href="/docs/gmh_sip1/service%20communications/1989/89warrbulletins">Warranty Bulletins</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>

</body>
</html>