#wrapper {
    box-sizing: border-box;
    display: flex;
    padding: 0 0 4rem 0;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

#wrapper h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: #ff9a00;
    text-shadow: 2px 2px 1px rgb(176, 176, 176);
}

#intro {
    padding: 1rem;
    font-size: 1.33em;
}

#enter-docs-btn {
    float: right;
    margin: 10px 20px;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    font-size:  1.25rem;

    color: #fff;
    background: #1f9978;
    border: #1f9978 solid 1px;

    text-decoration: none;

    transition: background 0.2s;
}

#enter-docs-btn:hover {
    background: #166550;
}

#car-section {
    flex-basis: min-content;
    flex-grow: 1;
    min-width: 20rem;
}

#car-grid {
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

#car-grid > .car {
    width: 18rem;
    max-width: 100%;
    overflow: hidden;
    text-align: center;

    text-decoration: none;
    border-radius: 8px;
    color: #383d41;
    border: solid 2px #d6d8db;
    background: #e2e3e5;
}

#car-grid > .car h2 {
    color: #261447;
    padding: 0 0.5rem;
}

#car-grid > .car img {
    width: 100%;
}

#techlines-section {
    border-radius: 8px;
    color: #383d41;
    border: solid 2px #d6d8db;
    background: #e2e3e5;
    padding: 1rem 0;
}

#techlines {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
}

#techlines > div {
    padding: 0.5rem 0;
}

#techlines > div:nth-child(odd) {
    background: #c9c9c9;
}

#techlines h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

